<footer class="main-footer">
    <div class="footer-content">
        <p class="copyright">
            &copy; 2026 MedHat. All Rights Reserved.
        </p>
        <div class="footer-links">
            <a href="https://www.linkedin.com/in/yousef-amr-b3a77b373/" target="_blank" class="linkedin-link">
                <i data-lucide="linkedin" size="18"></i>
                <span>Connect on LinkedIn</span>
            </a>
        </div>
    </div>
</footer>